.skillsSection {
    border-top: solid 1px #e2e0e0;
    height: 1000px;
}

.skillsHeader {
    color: #636363;
    font-family: "Anek Latin", sans-serif;
    text-align: center;
    font-size: x-large;
}

.skills {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin-right: 40px;
}

.skills > li {
    list-style: none;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.styleA {
    background-color: #8de4d0;
}

.styleB {
    background-color: #8dcde4;
}

.styleC {
    background-color: #8da1e4;
}
.styleD {
    background-color: #a58de4;
}
.styleE {
    background-color: #e48dcd;
}

.styleF {
    background-color: #f29f5f;
}

.styleG {
    background-color: #edc170;
}

.styleH {
    background-color: #ed5d5d;
}

.skillsContent {
    padding-top: 30px;
    width: 1000px;
    column-width: 150px;
    margin: auto;
    text-align: justify;
    column-count: 2;
    color: #636363;
    font-family: "Anek Latin", sans-serif;
    font-size: larger;
    font-weight: 300;
}

.skills > li > strong {
    color: white;
    text-align: center;
    font-family: "Anek Latin", sans-serif;
}

i {
    font-size: 100px;
    padding-bottom: 5px;
    margin: 50px 50px 0 50px;
    color: white;
}

.horizontalRuleB {
    background: linear-gradient(to right, #8de4d0, #8dcde4, #a58de4, #e48d8d);
    height: 3px;
    width: 200px;
    border: none;
    margin: auto;
}
