footer {
    color: white;
    display: flex;
    font-size: large;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 500px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.icons > li > a {
    text-decoration: none;
}

.socialIcon > i {
    font-size: 40px;
    color: white;
    margin: 10px;
    border: 1px solid white;
    border-radius: 100%;
    padding: 10px;
}

.socialIcon > i:hover {
    border: 3px solid white;
}

.linksIcon {
    border: 1px solid white;
    border-radius: 100%;
    height: 60px;
    margin: 10px;
}
.linksIcon:hover {
    border: 3px solid white;
}

.linksText > span {
    font-size: larger;
    font-weight: 300;
}

.linksText > p {
    font-size: small;
    margin-top: 30px;
    padding-bottom: 100px;
}
