.image {
    width: 50px;
}

.main {
    padding: 5em 5em;
    border-top: solid 1px _palette(invert, border);
}

.main:first-child {
    border-top: 0;
}

.image.main:first-child {
    margin: -5em 0 5em -5em;
    width: calc(100% + 10em);
    border-top-right-radius: _size(border-radius-main);
    border-top-left-radius: _size(border-radius-main);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.image > img {
    border-top-right-radius: _size(border-radius-main);
    border-top-left-radius: _size(border-radius-main);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
