.nav {
    background-color: #f7f7f7;
    position: sticky;
    top: 0;
}

.navList {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px 40px;
    width: 500px;
}

.navList > li {
    border-radius: 9px;
    list-style: none;
    padding: 10px;
}

.navList > li:hover {
    background-color: #e7e3e3;
}

.navList > li > a {
    color: #636363;
    font-family: "Anek Latin", sans-serif;
    font-size: x-large;
    text-decoration: none;
}

.selected {
    background-color: white;
}
